@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    border-width: 0;
     border-style: none;
    outline: none;

  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

.shadow-xl {
    box-shadow: none !important;
}
